<section id="home" class="g-pos-rel">
    <div class="js-carousel" data-autoplay="true" data-infinite="true" data-fade="true" data-speed="5000">
        <div class="js-slide g-min-height-100vh g-flex-centered g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after"
             style="background-image: url(/assets/images/backgrounds/banner1.jpg);"></div>
        <div class="js-slide g-min-height-100vh g-flex-centered g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after"
             style="background-image: url(/assets/images/backgrounds/banner2.jpg);"></div>
    </div>
    <div class="g-absolute-centered--y g-left-0 g-right-0">
        <div class="container g-z-index-1">
            <div class="row">
                <div class="col">
                    <div class="g-max-width-600">
                        <h1 class="g-color-white g-font-weight-700 g-font-size-40 g-font-size-60--md g-mb-30">
                            Relawan Covid-19
                        </h1>
                        <p class="h3 g-color-white g-font-weight-300 g-letter-spacing-1 mb-5">
                            Mari kita bantu saudara-saudara kita yang membutuhkan bantuan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>