//
// Colors
//

//
// Basic Colors

// Main Colors
$g-color-main: #979aa7;

// Main Secondary
$g-bg-color-secondary: #1a2e39;

// Primary Color
$g-color-primary: #f73859;

// Custom color
$g-theme-color-blue-dark-v1: #161a27;
$g-theme-color-blue-dark-v2: #151826;
$g-theme-color-blue-dark-v3: #19222f;
$g-theme-color-gray-dark-v1: #979aa7;
$g-theme-color-gray-dark-v2: #7c7e89;
$g-theme-color-gray-dark-v3: #989ba7;
$g-theme-color-gray-light-v1: #f5f6f8;
$g-theme-color-gray-light-v2: #f1f1f1;
